### Data Integration and Operations

**Importing Dependencies**

In [2]:
import pandas as pd
import numpy as np
import json

#### Data Integration

In [3]:
stock_apple_df = pd.read_csv(r'D:\Capstone Projects\StockerLens\data\raw\Stock_data\apple_stock_data.csv')

print(stock_apple_df.head())

stock_apple_df.drop(index=[0,1], inplace=True)
stock_apple_df.reset_index(drop=True, inplace=True)
stock_apple_df.rename(columns={'Price':'date'}, inplace=True)

stock_apple_df.head()

        Price              Close                High                 Low  \
0      Ticker               AAPL                AAPL                AAPL
1        Date                NaN                 NaN                 NaN
2  2019-01-02  37.66719055175781   37.88901670735737   36.78704853865948
3  2019-01-03  33.91524887084961  34.757226401323194  33.869929368945684
4  2019-01-04  35.36307144165039   35.43224447060452   34.29927134520694

                 Open     Volume
0                AAPL       AAPL
1                 NaN        NaN
2   36.94447308269307  148158800
3  34.342199196005986  365248800
4     34.473390406461  234428400

,date,Close,High,Low,Open,Volume
0,2019-01-02,37.66719055175781,37.88901670735737,36.78704853865948,36.94447308269307,148158800
1,2019-01-03,33.91524887084961,34.757226401323194,33.869929368945684,34.342199196005986,365248800
2,2019-01-04,35.36307144165039,35.43224447060452,34.29927134520694,34.473390406461,234428400
3,2019-01-07,35.28436279296875,35.499033590805276,34.800166098962414,35.46802473744808,219111200
4,2019-01-08,35.95699691772461,36.212215823587805,35.42509675519286,35.673156691404685,164101200

In [4]:
stock_amazon_df = pd.read_csv(r'D:\Capstone Projects\StockerLens\data\raw\Stock_data\amazon_stock_data.csv')

stock_amazon_df.drop(index=[0,1], inplace=True)
stock_amazon_df.reset_index(drop=True, inplace=True)
stock_amazon_df.rename(columns={'Price':'date'}, inplace=True)

stock_amazon_df.head()

,date,Close,High,Low,Open,Volume
0,2019-01-02,76.95649719238281,77.66799926757812,73.04650115966797,73.26000213623047,159662000
1,2019-01-03,75.01399993896484,76.9000015258789,74.85549926757812,76.00050354003906,139512000
2,2019-01-04,78.76950073242188,79.69999694824219,75.91549682617188,76.5,183652000
3,2019-01-07,81.47550201416016,81.72799682617188,79.45950317382812,80.1155014038086,159864000
4,2019-01-08,82.8290023803711,83.83049774169922,80.83049774169922,83.2344970703125,177628000

In [5]:
stock_microsoft_df = pd.read_csv(r'D:\Capstone Projects\StockerLens\data\raw\Stock_data\microsoft_stock_data.csv')

stock_microsoft_df.drop(index=[0,1], inplace=True)
stock_microsoft_df.reset_index(drop=True, inplace=True)
stock_microsoft_df.rename(columns={'Price':'date'}, inplace=True)

stock_microsoft_df.head()

,date,Close,High,Low,Open,Volume
0,2019-01-02,95.11981964111328,95.7124345886197,93.06917456384244,93.64297941413524,35329300
1,2019-01-03,91.62055206298828,94.24500196167683,91.43241520948595,94.16033858342901,42579100
2,2019-01-04,95.88175964355469,96.4273457908274,93.05977123906669,93.80289571345104,44060600
3,2019-01-07,96.00404357910156,97.14224471191753,94.98813320401231,95.60896692341754,35656100
4,2019-01-08,96.70012664794922,97.80070026425463,95.67480059197456,96.92588368231493,31514400

In [6]:
with open(r'D:\Capstone Projects\StockerLens\data\raw\Stock_data\sentimnet_data_2019to2025.json', 'r') as file:
    sentiment_json = json.load(file)

sentiment_json.keys()

dict_keys(['MSFT.US', 'AAPL.US', 'AMZN.US'])

In [7]:
snmt_apple_df = pd.DataFrame(sentiment_json['AAPL.US'])

snmt_amazon_df = pd.DataFrame(sentiment_json['AMZN.US'])

snmt_microsoft_df = pd.DataFrame(sentiment_json['MSFT.US'])

snmt_apple_df.head()

         date  count  normalized
0  2023-01-01      4      0.6400
1  2022-12-31      6      0.3365
2  2022-12-30     22      0.2355
3  2022-12-29     27      0.3943
4  2022-12-28     27      0.2649

In [8]:
apple_df = pd.merge(stock_apple_df, snmt_apple_df, how='left', on='date')
amazon_df = pd.merge(stock_amazon_df, snmt_amazon_df, how='left', on='date')
microsoft_df = pd.merge(stock_microsoft_df, snmt_microsoft_df, how='left', on='date')

apple_df.head()

,date,Close,High,Low,Open,Volume,count,normalized
0,2019-01-02,37.66719055175781,37.88901670735737,36.78704853865948,36.94447308269307,148158800,NaN,NaN
1,2019-01-03,33.91524887084961,34.757226401323194,33.869929368945684,34.342199196005986,365248800,2.0,0.9795
2,2019-01-04,35.36307144165039,35.43224447060452,34.29927134520694,34.473390406461,234428400,NaN,NaN
3,2019-01-07,35.28436279296875,35.499033590805276,34.800166098962414,35.46802473744808,219111200,NaN,NaN
4,2019-01-08,35.95699691772461,36.212215823587805,35.42509675519286,35.673156691404685,164101200,NaN,NaN

In [9]:
apple_df.drop(['count'], axis=1, inplace=True)

In [10]:
amazon_df.drop(['count'], axis=1, inplace=True)
microsoft_df.drop(['count'], axis=1, inplace=True)

In [11]:
apple_df.isnull().sum()

date            0
Close           0
High            0
Low             0
Open            0
Volume          0
normalized    380
dtype: int64

In [12]:
amazon_df.isnull().sum()

date            0
Close           0
High            0
Low             0
Open            0
Volume          0
normalized    385
dtype: int64

In [13]:
microsoft_df.isnull().sum()

date            0
Close           0
High            0
Low             0
Open            0
Volume          0
normalized    441
dtype: int64

In [14]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

def imputation(merged_df):
    """
    Input: A pandas DataFrame containing stock-related features ('Close', 'High', 'Low', 'Open', 'Volume') 
           and a 'normalized' column with potential NaN values.

    Output: A pandas DataFrame with missing values in the 'normalized' column imputed using polynomial regression.

    Working: Polynomial regression (degree=2) is applied to capture non-linear relationships between predictors 
             and the target variable ('normalized'). Missing values are predicted and filled based on observed data.
    """
    
    # Separate observed and missing data
    observed_data = merged_df[merged_df['normalized'].notnull()]
    missing_data = merged_df[merged_df['normalized'].isnull()]

    # Features and target for observed data
    X_observed = observed_data[['Close', 'High', 'Low', 'Open', 'Volume']]
    y_observed = observed_data['normalized']

    # Features for missing data
    X_missing = missing_data[['Close', 'High', 'Low', 'Open', 'Volume']]

    # Generate polynomial features (degree=2 for quadratic terms)
    poly = PolynomialFeatures(degree=2)
    X_observed_poly = poly.fit_transform(X_observed)
    X_missing_poly = poly.transform(X_missing)

    # Train regression model
    model = LinearRegression()
    model.fit(X_observed_poly, y_observed)

    # Predict missing values
    predicted_scores = model.predict(X_missing_poly)

    # Assign predicted values back to the dataset
    merged_df.loc[merged_df['normalized'].isnull(), 'normalized'] = predicted_scores

    return merged_df

In [15]:
apple_df = imputation(apple_df)
amazon_df = imputation(amazon_df)
microsoft_df = imputation(microsoft_df)

In [16]:
apple_df.head()

,date,Close,High,Low,Open,Volume,normalized
0,2019-01-02,37.66719055175781,37.88901670735737,36.78704853865948,36.94447308269307,148158800,0.408963
1,2019-01-03,33.91524887084961,34.757226401323194,33.869929368945684,34.342199196005986,365248800,0.979500
2,2019-01-04,35.36307144165039,35.43224447060452,34.29927134520694,34.473390406461,234428400,0.501658
3,2019-01-07,35.28436279296875,35.499033590805276,34.800166098962414,35.46802473744808,219111200,0.487303
4,2019-01-08,35.95699691772461,36.212215823587805,35.42509675519286,35.673156691404685,164101200,0.422461

In [22]:
apple_df.to_csv(r'D:\Capstone Projects\StockerLens\data\interim\apple.csv')
amazon_df.to_csv(r'D:\Capstone Projects\StockerLens\data\interim\amazon.csv')
microsoft_df.to_csv(r'D:\Capstone Projects\StockerLens\data\interim\microsoft.csv')